

<div class="modal-header row w-100">
    <div class="col-12"><img src="assets/images/svg/confirm.svg" alt="Question Icon" class="icon"></div>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <div class="depot-details">
      <div class="detail-row">
        <div class="detail-column">
          <p>ETES-VOUS SÛR DE VOULOIR ANNULER LE BLOC D'INSTRUCTION DE PAIEMENT N° ARA456 ?</p>
        </div>
      </div>
    </div>

  </div>
  <hr class="card-separator"/>
  <div class="modal-footer">
    <app-button type="primary"
                text="{{'instructionPaiment.popup.buttons.annuler' | translate}}"
                (click)="back()" [outlined]="true"></app-button>
    <app-button type="primary" text="{{ 'instructionPaiment.popup.buttons.confirme' | translate }}"
                (click)="confirm()" [selected]="true"></app-button>
  </div>
  

