.container {
  padding-top: 23px;
  .card {
    border-radius: 10px;
    border: 1.4px solid #dee2e6;
  }

  .card-body {
    padding: 30px;
  }

  .card-title {
    color: var(--Storm-Dust-950, #262626);
    font-family: 'Frutiger LT Pro', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  .title-separator {
    width: calc(100% + 60px);
    margin: 10px -30px;
    border: 0;
    border-top: 1px solid #E7E7E7 !important;
    opacity: 100%;
    margin-top: 30px;
  }

  .card-text {
    color: var(--Storm-Dust-500, #6D6D6D);
    font-family: 'Frutiger LT Pro', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    padding: 10px;
    padding-bottom: 10px;
    margin: 0;
  }

  .table {
    margin-bottom: 30px;
  }



  .table thead th {
    vertical-align: middle;
    background-color: #FFFFFF;
    overflow: hidden;
    color: var(--Storm-Dust-500, #6D6D6D);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Frutiger LT Pro', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }

  .table tbody td {
    vertical-align: middle;
  }

  .table tbody .text-muted {
    color: #888 !important;
  }
}
.card-margin-bottom {
  margin-bottom: 35px;
}
