
<div class="container my-4">
  <div class="card ">
    <div class="card-body">
      <div class="card-title" >
        <h5  >{{'adherent.depotExceptionnel.details.tabs.detailsIndemnisation.infoGenerales.title' | translate}}</h5>
      </div>
      <hr class="card-separator">
      <div class="general-info row cardInfo ">
        <div class="col-md-12 " >
          <p class="paragraphe"><strong>{{'adherent.depotExceptionnel.details.tabs.detailsIndemnisation.infoGenerales.numDepot' | translate}}</strong></p>
          <p >DDI/01062020/AV</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe"><strong>{{'adherent.depotExceptionnel.details.tabs.detailsIndemnisation.infoGenerales.numDossier' | translate}}</strong></p>
          <p class="text">IDD/20082004</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe"><strong>{{'adherent.depotExceptionnel.details.tabs.detailsIndemnisation.infoGenerales.montant' | translate}}</strong></p>
          <p>20 000</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body">
      <div class="card-title" >
        <h5  >{{'adherent.depotExceptionnel.details.tabs.detailsIndemnisation.modeReglement.title' | translate}}</h5>
      </div>
      <hr class="card-separator">
      <div class="general-info row cardInfo ">
        <div class="col-md-6" >
          <p class="paragraphe"><strong>{{'adherent.depotExceptionnel.details.tabs.detailsIndemnisation.modeReglement.modeReglement' | translate}}</strong></p>
          <p >Virement bancaire</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe"><strong>{{'adherent.depotExceptionnel.details.tabs.detailsIndemnisation.modeReglement.rib' | translate}}</strong></p>
          <p class="text">123 456 789112233445 56</p>
        </div>
      </div>
    </div>
  </div>
</div>
