<div class="container">
  <div class="page-header d-flex justify-content-between align-items-center mb-4 custom-padding">
    <div class="header-left d-flex align-items-center">
      <h5 class="page-title">DÉTAILS DE VOTRE DÉPÔT EXCEPTIONNEL</h5>
      <span class="badge-custom ms-3" [ngClass]="getBadgeClass(depotData?.status)"> {{ getTranslationKey(depotData?.status) + depotData?.status | translate }}</span>
    </div>
    <div class="header-right">
      <button class="btn btn-link text-decoration-none" (click)="previousState()">
        <img src="../../../../../../assets/images/icone/back-arraw.svg" alt="Précédent" class="img-icon"> Précédent
      </button>
    </div>
  </div>
  <app-form [formItems]="formItems"></app-form>
<!--  <div class="mb-4" >-->
<!--    @defer (when depotData?.status==StatusCompte.BROUILLON){-->
<!--      <app-form  [formItems]="infosGeneralesBrouillon" [showSeparators]="true"></app-form> &lt;!&ndash;*ngIf="reclamationData?.status==StatusCompte.BROUILLON"&ndash;&gt;-->
<!--    }-->
<!--    &lt;!&ndash;        @loading {&ndash;&gt;-->
<!--    &lt;!&ndash;          <div> data is being charging </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        }&ndash;&gt;-->
<!--  </div>-->
  <div class="card card-margin-bottom mt-4">
    <div class="card-body">
      <div class="card-title" >
        <h5 >{{'deposant.reclamation.detail.etatExecptionnel.title' | translate}}</h5>
      </div>
      <hr class="card-separator ">
      <div class="timeline mb-4 cardInfo">
        <app-status-timeline [statuses]="statusArray"></app-status-timeline>
      </div>
    </div>
  </div>
</div>
