<div class="background-wrapper">
    <div class="container">
      <img src="assets/images/svg/sgfg-logo.svg" alt="Logo" class="navbar-logo">
  
      <div class="info-container">
          <h2 class="title">Système de gestion des dossiers des déposants</h2>
          <p class="subtitle">Veuillez saisir votre identifiant ainsi que votre mot de passe</p>
      </div>
      
      <form>
          <input type="text" placeholder="Username" required> 
          <input type="password" placeholder="Password" required> 
          
          <!-- Forgot password link -->
          <div class="forgot-password-container">
              <a href="#" class="forgot-password">Mot de passe oublié ?</a>
          </div>
       
          <button type="submit">Se connecter</button>  
      </form> 
    </div>
  </div>
  