$themes: (
  red: (background-color: #FFCCC8,
    background-color-inner : #FFE3E1,
    border-color:#FFA9A2,
    primary-color: #E02B1D,
    button-background: #ff4757,
    button-border: #ff4757),
  purple: (background-color: #E9DDF7,
    background-color-inner : #F3ECFB,
    border-color: #D4BBFF,
    primary-color: #A550CC,
    button-background: #7D2B91,
    button-border: #7D2B91),
  orange: (background-color: #FED8AA,
    background-color-inner : #FFEDD5,
    border-color: #FFD8BB,
    primary-color: #D97904,
    button-background: #CC6C02,
    button-border: #CC6C02),
  grey: (background-color: #E7E7E7,
    background-color-inner : #F6F6F6,
    border-color:#D1D1D1,
    primary-color:#F6F6F6,
    button-background:#6D6D6D,
    button-border:#6D6D6D),
);


.outer-card {
  @each $theme, $colors in $themes {
    &.#{"#{$theme}"} {
 background-color: map-get($colors, background-color-inner);
    border: 1px solid map-get($colors, border-color);
    border-radius: 10px;
    padding: 12px;
    position: relative;


    .card-heade {
      color: #000000;
      font-size: 18px;
      padding-left: 30px;
      margin-bottom: 20px;
      margin-left: 1%;
      font-weight: inherit;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        margin-left: 1.5%;
        top: 5%;
        bottom: 5%;
        width: 5px;
        background-color: map-get($colors, primary-color);
        border-radius: 5px 5px 5px 5px;
      }
    }

    .inner-card {
      background-color: map-get($colors, background-color);
      border: 1px solid map-get($colors, border-color);
      border-radius: 8px;
      //padding: 15px;
      margin-left: 3%;

      .card-body {
        display: flex;

        .bloc1 {
          flex: 1;
        }

        .bloc2 {
          flex: 17;
        }

        img.close-icon {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }

        .title {
          font-family: 'Frutiger LT Pro', sans-serif;
          font-size: 14px;
          font-weight: 700;
          line-height: 19px;
          text-align: left;

          /* Set the background color */
          color: #262626;
        }

        p {
          margin-top: 5px;
        }

        .document-link {
          color: map-get($colors, primary-color);
          text-decoration: underline;
          cursor: pointer;
          margin-bottom: 20px;
        }

      }
    }

    .card-footer {
      display: flex;
      justify-content: space-between;

      .btn {
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 5px;
      }

      .custom-btn-outline {
        color: map-get($colors, button-border);
        border: 1px solid #ff4757;
        background-color: transparent;
      }

      .custom-btn {
        background-color: map-get($colors, button-background);
        color: white;
        border: none;
      }
    }
  }

  .custom-button {
    display: flex;
    margin-left: 68px;
    gap: 10px;
    padding-bottom: 15px;
  }
}

}

.button-description {
  margin-left: 68px;
  /* Adjust as needed to align with your layout */
  margin-bottom: 10px;
  /* Adjust spacing from the buttons */

  /* Apply the specified styles */
  font-family: 'Frutiger LT Pro', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;

  color: #6D6D6D;

}

.content-text {
  //styleName: Body Regular;
  font-family: Frutiger LT Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #6D6D6D;

}






/***** Arabic SCSS *****/
:dir(rtl) {
  .card-heade {
    padding-left: 0px !important;
    padding-right: 30px !important;
    margin-left: 0 !important;
    margin-right: 1% !important;

    &::after {
      position: absolute;
      right: 0;
      margin-right: 1.5%;
      margin-left: 0 !important;
      top: 5%;
    }
  }

  .inner-card {
    margin-left: 0;
    margin-right: 3%;
  }
}