.card-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #262626;
  letter-spacing: 0.4px;
}
.custom-padding{
  padding-top: 32px !important;
  padding-bottom: 0px !important;
}
.custom-margin{
  margin-bottom: 0.6rem !important;
}


.text-muted{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #6D6D6D;
  padding: 5px 0 0 0;
}
.btn-link {
  color: #683B8F;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.btn-link:hover .img-icon {
  margin-right: 2px;

}
.btn-link:hover {
  margin-right: 2px;

}

.btn-link .img-icon {
  margin-right: 9px;
  width: 16px;
  height: auto;
}

:dir(rtl){
  .img-icon{
    transform: rotate(180deg) !important;
    margin-inline: 15px;
  }
}
