<div>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4 custom-padding">
            <div>
                <h2 class="card-title mb-2">{{ "REPRESENTANT "}}</h2>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn btn-link text-decoration-none" (click)="goBack()" >
                    <img src="assets/images/icone/back-arraw.svg" alt="Précédent" class="img-icon"> {{ 'utilisateur.precedent' | translate }}
                </button>
            </div>
        </div>
        <div>
            <div class="mb-4" >
                <app-form [formItems]="infosPerso" ></app-form>
            </div>
            <div class="mb-4">
                <app-form [formItems]="coordonneesContact" (formData)="handleFormData($event)"  ></app-form>
            </div>
            <div class="mb-4">
                <app-form [formItems]="adressePostale" (formData)="handleFormData($event)" ></app-form>
            </div>
        </div>
    </div>
