<div class="container">
  <div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h5 class="modal-title w-100">{{'back-office.suivi-reclamation.affectation.title' | translate}}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="affectationForm" novalidate>
      <div class="col-md-12">
        <div class="form-floating">
          <ng-select
            [items]="unitesOrganisationelles"
            bindLabel="libelle"
            bindValue="code"
            formControlName="uniteOrganisationelle"
            placeholder="Unité Organisationelle"
            id="uniteOrganisationelle"
            class="form-control"
            [class.is-invalid]="isInvalid('uniteOrganisationelle')"
          >
          </ng-select>
          <label>{{'back-office.suivi-reclamation.affectation.unitOrganisationelle' | translate}}</label>
          <div *ngIf="isInvalid('uniteOrganisationelle')" class="invalid-feedback">
            {{ 'Ce champ est obligatoire' | translate }}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-floating">
        <textarea
          [placeholder]="'back-office.suivi-reclamation.affectation.commentaire' | translate"
          class="form-control"
          formControlName="commentaire"
        ></textarea>
          <label>{{'back-office.suivi-reclamation.affectation.commentaire' | translate}}</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <app-button type="primary" [outlined]="true" text="{{'back-office.suivi-reclamation.affectation.cancelButton' | translate}}" (click)="close()"></app-button>
    <app-button type="primary" text="{{'back-office.suivi-reclamation.affectation.confirmButton' | translate}}" [selected]="true" (click)="save()"></app-button>
  </div>
</div>

