<ng-container *ngIf="!isSubmitted">
    <div class="modal-header">
        <h5 class="modal-title">{{title | translate }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="modal-body">
            <div class="form-floating" *ngFor="let item of formItems">
                @if(item.itemType === 'field' ){

                <input class="form-control" [type]="item.type" [formControlName]="item.placeholder!" />
                <label [class.disabled-label]="item.disabled" class="ms-2"> {{ 'tools.forminput.'+item.placeholder |
                    translate }}
                </label>
                <div *ngIf="form.get(item.placeholder!)?.invalid && form.get(item.placeholder!)?.touched"
                    class="text-danger">
                    {{ 'referentiel.' + 'required' | translate }}
                </div>
                }


                @if(item.itemType === 'textarea'){
                <div class="form-floating">
                    <textarea [placeholder]="'tools.forminput.'+item.placeholder | translate"
                        class="form-control custom-textarea" formControlName="commentaires"></textarea>
                    <label>{{ 'commentaires' }}</label>
                </div>
                }

                @if(item.itemType === 'file'){
                <div class="mt-4">
                    <label class="form-label">{{'deposant.depotExceptionnel.declarationExceptionnel.pieceJointeName' |
                        translate}}</label>
                    <app-file-upload formControlName="pieceJointeName" (fileSelected)="handleFileSelected($event)"
                      ></app-file-upload>
              
                </div>
                <br>
                }
            </div>
        </div>
        <div class="modal-footer">
            <app-button type="primary" [outlined]="true" text="{{ 'referentiel.cancel' | translate }}"
                (click)="cancel()"></app-button>
            <app-button type="primary" [typeButton]="'submit'" text="{{ 'referentiel.save' | translate }}"
                [selected]="true" [disabled]="form.invalid"></app-button>
        </div>
    </form>
</ng-container>
<ng-container *ngIf="isSubmitted">
    <div class="modal-header w-100">
        <div class="confirmation-header row">
            <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
            <div class="col-12"><img src="assets/images/svg/confirm.svg" alt="Question Icon" class="icon"></div>
            <div class="col-12">
                <h5 class="modal-title">{{ 'fraude.modal.title' | translate }}</h5>




            </div>
        </div>
    </div>
    <div class="separator-section">
        <hr class="card-separator" />
    </div>
    <div class="modal-confirmataion-body row">
        <ng-container *ngFor="let item of formItems">

            @if(item.itemType === 'textarea'){
            <div class="col-9 mb-2">
                <p class="label">{{ item.placeholder ? (item.placeholder | translate) : '' }}</p>
                <p class="text">{{ form.get(item.placeholder!)?.value}}</p>
            </div>

            }



        </ng-container>
    </div>
    <div class="modal-confirm-footer">
        @if(isSubmitted){
        <app-button type="primary" text="{{'referentiel.retour' | translate}}" (click)="cancel()"
            [outlined]="true"></app-button>
        }
        @if(!isSubmitted){
        <app-button type="primary" text="{{'referentiel.retour' | translate}}" (click)="back()"
            [outlined]="true"></app-button>
        }
        <app-button type="primary" text="{{'referentiel.confirmer' | translate}}" (click)="confirm()"
            [selected]="true"></app-button>
    </div>
</ng-container>