.modal-header {
  border-bottom: none;
  padding: 26px 30px 0
}

.modal-title {
  font-weight: 700;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.card-separator{
  border-top: 2px solid #E7E7E7;
  opacity: 60%;
  margin: 0;
  padding: 0;
}

.separator{
  border-top: 2px solid #E7E7E7;
  opacity: 60%;
}


.btn-close {
  margin: -1rem -1rem -1rem auto;
}

.modal-body {
  padding: 30px;
  padding-bottom: 0;
  margin: 0;
  .form-label {
    font-weight: 400;
    font-size: 16px;
  }

  .form-control {
    border-radius: 0.375rem;
    height: 58px;
  }
}

.modal-footer {
  border-top: none;
  padding: 30px !important;
  display: flex;
  justify-content: space-between;

  .btn-outline-primary {
    color: #6c63ff;
    border: 1px solid #6c63ff;
    &:hover {
      background-color: #6c63ff;
      color: #fff;
    }
  }

  .btn-primary {
    background-color: #6c63ff;
    border: none;
    &:hover {
      background-color: #5753e8;
    }
  }
}

.file-info {
  display: flex;
  align-items: center;

  i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .text-primary {
    margin: 0 0.5rem;

  }

  .file-size {
    color: #6c757d;
  }

  .separator {
    border: none;
    border-top: 2px solid #3f0a0a;
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
  }
}

.form-control, .form-select {
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
  color: black;
  font-weight: 499;
}

.form-wrapper {
  background-color: #FFFFFF;
  border: 1px solid #E7E7E7;
  padding: 1.5rem 1rem 0.8rem 1rem;
  border-radius: 8px;
}

.form-title {
  font-size: 1.3rem;
  color: #262626;
  margin-bottom: 1.5rem;
  text-align: left;
  font-weight: bold;
  padding-left: 20px;
  font-family: 'Frutiger LT Pro', sans-serif;
}

label {
  font-family: 'Frutiger LT Pro', sans-serif;
  color: #727578;
  font-weight: 400;
}

h2 {
  margin-bottom: 1rem;
}

.text-danger {
  font-size: 0.875rem;
}

.form-control:focus,
.form-select:focus {
  border-color: #AC9961;
  border-width: 1px;
  box-shadow: none;
  outline: 0;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 24px;
  color: #888888;
  padding-inline-start: 19px;
}
.form-control{
  border-radius: 6px;
}

.form-control:disabled,
.form-select:disabled {
  background: #F6F6F6;
  border: 1px solid #E7E7E7;
  border-radius: 4px;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 24px;
  color: #888888;
  padding-inline-start: 19px;
}

.form-floating{
  margin-bottom: 2rem !important;
}
.remove-margin{
  margin-bottom: 0 !important;
}

.form-floating>:disabled~label:after,
.form-floating>.form-control:disabled~label:after {
  background-color: unset;

}

.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
  height: calc(3.9rem + calc(var(--bs-border-width) * 2));
  min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
  line-height: 1.45;
}
.modal-header .btn-close{
  right: -60px !important;
}
.confirmation-header{
  text-align: center;
  img{
    width: 160px;
    height: 160px;
    text-align: center;
    padding-top: 34px;
  }
  .modal-title{
    padding: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #262626;
  }
}
.modal-confirmataion-body{
  padding: 30px;
  .label{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #6D6D6D;

  }
  .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
  }
}
.modal-confirm-footer{
  padding: 1px 30px 26px;
  display: flex;
  justify-content: space-between;
}


