<div class="modal-header">
    <h5 class="modal-title mt-4">{{ 'utilisateur.parametreConnexion.updatePasswordPopup.title' | translate }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"> </button>
</div>
<hr class="card-separator" />
<div class="modal-body">
    <p>{{ 'utilisateur.parametreConnexion.updatePasswordPopup.text' | translate }} </p>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <div class="col-12 position-relative">
                <input type="password" class="form-control" formControlName="currentPassword" placeholder="{{ 'utilisateur.parametreConnexion.updatePasswordPopup.currentPassword' | translate }}">
                <i class="bi bi-eye-slash toggle-password-icon" (click)="togglePasswordVisibility('currentPassword')"></i>
                <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched" class="text-danger">
                    <small *ngIf="changePasswordForm.get('currentPassword')?.errors?.['required']">{{ 'utilisateur.parametreConnexion.updatePasswordPopup.currentPasswrodRequired' | translate }}</small>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 position-relative">
                <input type="password" class="form-control" formControlName="newPassword" placeholder="{{ 'utilisateur.parametreConnexion.updatePasswordPopup.newPassword' | translate }}">
                <i class="bi bi-eye-slash toggle-password-icon" (click)="togglePasswordVisibility('newPassword')"></i>
                <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" class="text-danger">
                    <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">{{ 'utilisateur.parametreConnexion.updatePasswordPopup.newPasswordRequired' | translate }}</small>
                    <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">{{ 'utilisateur.parametreConnexion.updatePasswordPopup.minLengthPassword' | translate }}</small>
                    <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']">{{ 'utilisateur.parametreConnexion.updatePasswordPopup.passwordPatternRequired' | translate }}</small>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 position-relative">
                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="{{ 'utilisateur.parametreConnexion.updatePasswordPopup.confirmePassword' | translate }}">
                <i class="bi bi-eye-slash toggle-password-icon" (click)="togglePasswordVisibility('confirmPassword')"></i>
                <div *ngIf="changePasswordForm.get('confirmPassword')?.invalid && changePasswordForm.get('confirmPassword')?.touched" class="text-danger">
                    <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">{{ 'utilisateur.parametreConnexion.updatePasswordPopup.confirmationNewPassRequired' | translate }}</small>
                    <small *ngIf="changePasswordForm.errors?.['passwordMismatch']">{{ 'utilisateur.parametreConnexion.updatePasswordPopup.passwordsNotMatched' | translate }}</small>
                </div>
            </div>
        </div>
        <a href="#" class="text-primary d-block mb-3 custom-link">{{ 'utilisateur.parametreConnexion.updatePasswordPopup.forgetPassword' | translate }}</a>
    </form>
</div>
<hr class="card-separator" />
<div class="modal-footer">
    <app-button [outlined]="true" [text]="'utilisateur.parametreConnexion.updatePasswordPopup.buttons.annuler' | translate" class="ml-3" (click)="onCancel()"></app-button>
    <app-button [outlined]="false" [text]="'utilisateur.parametreConnexion.updatePasswordPopup.buttons.enregistrer' | translate" [disabled]="changePasswordForm.invalid" (click)="onSubmit()" class="mr-3"></app-button>
</div>
