.modal-header {
  border-bottom: none;
}
.modal-title {
  font-size: 1.25rem;
  font-weight: 700;
}

.modal-body {
  p {
    margin-bottom: 1rem;
  }

  .form-control {
    margin-bottom: 1rem;
  }

  .text-primary {
    margin-top: 0.5rem;
    display: block;
  }
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  border-top: none;
}
.position-relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.input-group .form-control {
  border-right: 0;
}

.position-relative {
  position: relative;
}

.toggle-password-icon {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
  //background-image: url('src/assets/images/icone/navbarToggler.svg');
}

.toggle-password-icon:hover {
  color: #495057;
}
.form-control.ng-invalid.ng-touched,
.form-select.ng-invalid.ng-touched {
  border-color: red;
}
.form-control:focus,
.form-select:focus {
  border-color: #AC9961;
  border-width: 1px;
  box-shadow: none;
  outline: 0;
}
.custom-link {
  color: #683B8F !important;
}





