<div class="container">
  <div class="card ">
    <div class="card-body">
      <div class="card-title">
        <h5>{{ 'adherent.depotExceptionnel.details.tabs.infosDeposant.infoGenerales.title' | translate }}</h5>
      </div>
      <div class="general-info row cardInfo ">
        <div class="col-md-6 ">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.infosDeposant.infoGenerales.numDossier' | translate }}</strong>
          </p>
          <p>DP123456</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.infosDeposant.infoGenerales.statutDeposant' | translate }}</strong>
          </p>
          <p class="text">Décédé</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.infosDeposant.infoGenerales.typeDeposant' | translate }}</strong>
          </p>
          <p>Personne physique</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.infosDeposant.infoGenerales.cin' | translate }}</strong>
          </p>
          <p>BE848765</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.infosDeposant.infoGenerales.nom' | translate }}</strong>
          </p>
          <p>Benbrahim</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.infosDeposant.infoGenerales.prenom' | translate }}</strong>
          </p>
          <p>Mohammed</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.infosDeposant.infoGenerales.dateNaissance' | translate }}</strong>
          </p>
          <p>20 juin 1992</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.infosDeposant.infoGenerales.nationalite' | translate }}</strong>
          </p>
          <p>Marocaine</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.infosDeposant.infoGenerales.nombreHeritiers' | translate }}</strong>
          </p>
          <p>2</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body">
      <div class="card-title">
        <h5>{{ 'adherent.depotExceptionnel.details.tabs.depotTemporaire.infoGenerales.title' | translate }}</h5>
      </div>
      <div class="general-info row cardInfo ">
        <div class="col-md-6 ">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.depotTemporaire.infoGenerales.numDepot' | translate }}</strong>
          </p>
          <p>DDI/01062020/AV</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.depotTemporaire.infoGenerales.natureDepot' | translate }}</strong>
          </p>
          <p class="text">Assurance vie</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.depotTemporaire.infoGenerales.montant' | translate }}</strong>
          </p>
          <p>30 000,55</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.depotTemporaire.infoGenerales.dateDeclaration' | translate }}</strong>
          </p>
          <p>20/06/2023</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.depotTemporaire.infoGenerales.dateSurvenance' | translate }}</strong>
          </p>
          <p>14/12/2020</p>
        </div>
        <div class="col-md-6">
          <p class="paragraphe">
            <strong>{{ 'adherent.depotExceptionnel.details.tabs.depotTemporaire.infoGenerales.piecesJointes' | translate }}</strong>
          </p>
          <div class="file-details mt-1">
            <div class="name-and-size">
              <img src="assets/images/svg/document.svg" alt="Document Icon" class="document-icon">
              <div class="file-name">Document.png
                <span class="middle-dot">•</span>
                <button class="consult-btn">{{ 'deposant.reclamation.detail.votreReclamation.consulter' | translate }}
                </button>
              </div>
            </div>
          </div>
          <div class="file-details">
            <div class="name-and-size">
              <img src="assets/images/svg/document.svg" alt="Document Icon" class="document-icon">
              <div class="file-name">Document.png
                <span class="middle-dot">•</span>
                <button class="consult-btn">{{ 'deposant.reclamation.detail.votreReclamation.consulter' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body">
      <div class="card-title">
        <h5>{{ 'adherent.depotExceptionnel.details.tabs.depotTemporaire.popup.approbation&Rejet' | translate }}</h5>
      </div>
      <div class="general-info row cardInfo ">
        <div class="modal-body">
          <form [formGroup]="approbation">
            <div class="row mb-3">
              <div class="form-floating">
                <textarea class="text-aria" type="text"
                          [placeholder]="'adherent.depotExceptionnel.details.tabs.depotTemporaire.popup.decision' | translate "
                          class="form-control" formControlName="message"></textarea>
                <label [class.disabled-label]="true"
                       class="ms-2">{{ 'adherent.depotExceptionnel.details.tabs.depotTemporaire.popup.decision' | translate }}</label>
              </div>
            </div>
            <div class="mt-5">
              <label
                class="form-label">{{ 'adherent.depotExceptionnel.details.tabs.depotTemporaire.popup.pieceJointe' | translate }}</label>
              <app-file-upload (change)="handleFile($event)"></app-file-upload>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="left-buttons">
            <app-button [outlined]="true" type="primary"
                        text="{{'adherent.depotExceptionnel.details.tabs.depotTemporaire.infoGenerales.buttons.rejeter' | translate }}"
                        (click)="openConfirmationModal(true)"></app-button>
          </div>
          <div class="right-button">
            <app-button type="primary"
                        text="{{'adherent.depotExceptionnel.details.tabs.depotTemporaire.infoGenerales.buttons.approuver' | translate}}"
                        (click)="openConfirmationModal(false)"></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-margin-bottom mt-4">
    <div class="card-body">
      <div class="card-title">
        <h5>{{ 'adherent.depotExceptionnel.details.tabs.depotTemporaire.StatutDeclaration.title' | translate }}</h5>
      </div>
      <div class="timeline mb-4 cardInfo">
        <app-status-timeline [statuses]="statusDeclaration"></app-status-timeline>
      </div>
    </div>
  </div>
</div>
