.title-container{
    display: flex;
    justify-content: space-between;
    height: 96px;
}
.title-txt{
  font-family: 'Frutiger LT Pro';
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
}
