<div class="container">

  <app-table [columns]="columns" [titlePage]="'LES déclarations de dépôts exceptionnels'" [titleTotalItems]="'dépôts exceptionnels'" [data]="translatedDepotExceptionnel"  [pagination]="true"
             [totalItems]="totalItems"
             [itemsPerPage]="itemsPerPage" (pageChange)="handlePageChange($event)" [filter]="true" [filterFields]="filterFields"
             [noDataFoundMessage]="noDataFoundMessage" [actions]="actions"
             (actionClick)="onActionClick($event)"></app-table>
</div>
