

    <div class="modal-header row w-100">
        <div class="col-12"><img src="assets/images/svg/confirm.svg" alt="Question Icon" class="icon"></div>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">

        <div class="depot-details">
          <div class="detail-row">
            <div class="detail-column">
              <b>ÊTES-VOUS SUR(E) DE VOULOIR REINITIALISER LE MOT DE PASSE DE L’UTILISATEUR N°U4321 ?</b>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <app-button type="primary" text="{{ 'referentiel.cancel' | translate }}"
                    (click)="back()" [outlined]="true"></app-button>
        <app-button type="primary"
                    text="{{'adherent.depotExceptionnel.details.tabs.depotTemporaire.popup.buttons.confirme' | translate}}"
                    (click)="confirm()" [selected]="true"></app-button>
      </div>
      
    
  